<ion-header>
    <ion-toolbar>
        <ion-title>
            Ionic Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card routerLink="/page2"
              routerDirection="forward">
        Item1
    </ion-card>
    <ion-card routerLink="/page2"
              routerDirection="forward">
        Item2
    </ion-card>
    <ion-card routerLink="/page2"
              routerDirection="forward">
        Item3
    </ion-card>
    <ion-card routerLink="/page2"
              routerDirection="forward">
        Item4
    </ion-card>
    <ion-card routerLink="/page2"
              routerDirection="forward">
        Item5
    </ion-card>
</ion-content>
